*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    padding: 20px 20px;
    font: 36px Arial, sans-serif;
    color: white;
}

.container {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    }
    .one{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(126, 175, 126);
    }
    .two{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(214, 170, 50);
    }
    .three{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: rgb(106, 213, 240);
    }
    .four{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgb(203, 98, 224);
    }
    .five{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(123, 185, 201);
    }
    .six{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(238, 51, 51);
    }
    .one, .two, .three, .four, .five, .six{
        display: flex;
        justify-content: center;
        align-items: center;
    }